body {
    font-family: Arial, sans-serif;
    background-color: #f4f4d7; /* Mude esta cor para a cor desejada */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: #777;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.content {
    display: flex;
    width: 80%;
    margin: 20px 0;
    justify-content: space-between;
    position: relative;
}

.text-block, .image-block {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.text-block {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-block {
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajuste a altura conforme necessário */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}